*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-size: 20px;
    cursor: default;
    font-family: 'Karla', sans-serif;
    background:#457B9D;
    color: #F1FAEE;
}

/*! other color to use */

/* #E63946 #A8DADC #1D3557 #457B9D*/

/* Typography */

h1 {
    text-align: center;   
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
    text-transform: capitalize;
}

.line-done {
    text-decoration: line-through;
}

/* Container */

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: 90vh;
    overflow: hidden;
    margin: 30px auto 20px;
    padding: 30px 30px;
    background: #1D3557;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 9px rgba(50, 50, 50, 0.74);
}

/* Title */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.title i {
    font-size: 30px;
    margin-left: 15px;
    padding-top: 5px; /*! da sistemare in qualche modo per mettere in verticale preciso*/
}

/* Text Area Input */

.text-area {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    
}

.text-area input#text {
    flex-basis: 80%;
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
    border: 3px solid #c9c8c821;
    background-color: hsl(183, 43%, 90%);
    outline: none;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
}

.text-area input#text:focus {
 border: 3px solid #E63946;
}

.text-area .btn {
    padding: 10px;
    background-color: #dbeff0;
    box-shadow: 0 5px #7f9091;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    border: 1px solid #c9c8c821;
    letter-spacing: 2px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

.text-area .btn:active {
  box-shadow: 0 2px #dbeff0;
  transform: translateY(2px);
}

/* List area */

.list-area{
    overflow: auto;
}

.list-area .todo-list {
    list-style: none;
}


.list-area .todo-list span::first-letter {
  text-transform: uppercase; /*! prima lettera maiuscola */
}

.list-area li {
    display: flex;
    justify-content: space-between;
    background:#457B9D;
    border: 1px solid black;
    color: #F1FAEE;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 5px;
}

span:hover {
    cursor: pointer;
    text-shadow: 0 0 10px #FFFFFF, 2px 2px 2px rgba(206,89,55,0);
}

.list-area i {
    font-size: 24px;
    color:black;
    cursor: pointer;
}

.list-area i:hover{
   color: #E63946;
}

.list-area .empty {
    font-weight: bold;
    justify-content: center;
}

/*
*** MOBILE VERSION ***
*/

@media screen and (max-width: 768px){
    /* Container */
    .container{
        width: 100%;
        min-height: 100vh;
        height: 100%;
        margin: 0;
    }
    /* Text Area */
    .text-area{
        flex-wrap: wrap;
    }

    .text-area input#text {
        flex-basis: 100%;
        margin-bottom: 50px;
        padding: 20px;
        margin-right: 0;
    }

    .text-area .btn {
        padding: 20px;
    }
    /* List Area */
    .list-area ul {
        display: flex;
        flex-direction: column;
    }

    .list-area ul li {
        margin-bottom: 40px;
    }

}

