<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Shake  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/csshake/1.5.3/csshake.min.css">
    <!-- Fontawesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
    <!-- Vue -->
    <script src="./js/vue.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <title>My Todo List in Vue</title>
</head>

<body>
    <div id="app">
       <div class="container">
            <div class="title">
                <h1>To do list</h1>
                <i class="fas fa-pencil-alt pencil"></i>
            </div>
            <!-- Text Area -->
            <div class="text-area display-w361">
                <input type="text" name="text" id="text" placeholder="Scrivi qui il tuo promemoria!" v-model="userMessage" @keyup.enter="submit">
                <input class="btn"type="submit" value="Submit" @click="submit">
            </div>
            <!-- ONLY W360 -->
            <div class="text-area only-phone-w360">
                <input type="text" name="text" id="text" placeholder="Scrivi il tuo promemoria!" v-model="userMessage" @keyup.enter="submit">
                <input class="btn"type="submit" value="Submit" @click="submit">
            </div>
            <!-- List Area -->
            <div class="list-area">
                <ul class="todo-list">
                    <li class="empty" v-if="todo.length == 0">La tua lista è vuota! Inserisci un nuovo todo!</li>
                    <li v-for="(item, index) in todo">
                        <span :class="todo[index].doneCheck" @click="done(index)">{{ item.text }}</span>
                        <i class="far fa-trash-alt shake" @click="remove(index)"></i> 
                    </li>                  
                </ul>
            </div>
        </div> 
    </div>
    
    <!-- JS -->
    <script src="./js/main.js"></script>
</body>

</html>